{% extends "::base.html.twig" %}

{% block stylesheets %}
       
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
       <link rel="stylesheet" href="/bundles/core/css/foto.css">
       <link rel="stylesheet" href="/bundles/core/css/search.css">
       <link rel="stylesheet" href="/bundles/core/css/searchfoto.css">
       <link rel="stylesheet" href="/bundles/core/css/titlefoto.css">
        <link rel="stylesheet" href="/bundles/core/css/slideshow.css">
        <link rel="stylesheet" href="/bundles/core/css/reclameview.css"> 
       <link rel="stylesheet" href="/bundles/core/css/totemtickerview.css">
       <link rel="stylesheet" href="/bundles/core/css/infoform.css">
       
{% endblock %}

{% block javascripts %}

   
  
   
     <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
     <script  src="/bundles/core/js/main.js"> </script>
     <script  src="/bundles/core/js/search.js"> </script>
     <script  src="/bundles/core/js/textchange.js"> </script>
     <script  src="/bundles/core/js/slideshow.js"> </script>
     <script  src="/bundles/core/js/jquery.totemticker.js"> </script>
     <script  src="/bundles/core/js/info.js"> </script>

{% endblock %}

{% block title %}Symfony Blog{% endblock %}


{% block body %}


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
          {# Brand and toggle get grouped for better mobile display #}
          <div class="navbar-header">
              {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse-1">#}
              {#    <span class="sr-only">Toggle navigation</span>#}
              {#    <span class="icon-bar"></span>#}
              {#    <span class="icon-bar"></span>#}
              {#    <span class="icon-bar"></span>#}
              {#</button>#}
              <a class="navbar-brand" href="#">
                  <div class="fotologo">
              <img alt="Brand" src="/bundles/img/logo.gif">
                  </div>
               </a>
              <a class="navbar-brand" id="go" href="#">BigWorldBlog!</a>
          </div>

          {# Collect the nav links, forms, and other content for toggling #}
          <div class="collapse navbar-collapse" id="admin-navbar-collapse-1"  >
              {{ knp_menu_render('CoreBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:knp_menu.html.twig'}) }}
            
              {{ knp_menu_render('CoreBundle:Builder:categoryMenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:knp_menu.html.twig'})}}
             
              {{ knp_menu_render('CoreBundle:Builder:aboutMenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:knp_menu.html.twig'})}}
              
              
            <div style="margin-top:6px; margin-right:10px " class="navbar-right"> 
            
           
            
               {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               <a> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </a> |
               <a href="{{ path('fos_user_security_logout') }}">
                    <button type="button" class="btn btn-info"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button>
                </a>
            {% else %}
            
                  {{ knp_menu_render('CoreBundle:Builder:registerMenu', {'currentClass': 'active', 'template': 'CoreBundle:Menu:knp_menu.html.twig'})}} 
                <a href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-info"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button> </a>
            {% endif %}
       
               </div> 
               
               <div id="navbar" class="collapse navbar-collapse" style="margin-top:10px;">
               <ul class="nav navbar-nav">
                          
                    <li> <div id="block-search">
                        
                           <form method="get" action=" {{path('blog_core_post_search')}} ">
 
                                <input type="text" name="q" id="input-search">
                                <input type="submit" id="form-search" value="Search">
 
                            </form>
                            
                         <div id="block-search-result">
 
                          <ul id="list-search-result">
                          </ul>
 
                          </div>
                          </div>  
                    </li>      
                          
                          
                          
               </ul>
               </div>
               
               
               
               
          </div>
        
      </div>
</div>
   {# <nav class="navbar navbar-inverse">#}
       
   {#    <a href="#"><h1>Symfony 2 Blog</h1></a>#}
   {#    <a href="{{path('blog_core_post_index')}}" ><button type="button" class="btn btn-primary">Home</button></a>#}
   {#    <a href="{{path('blog_admin_default_index')}}" ><button type="button" class="btn btn-primary">AdminLogin</button></a>#}
       
   {#</nav>#}

<div class="container" style="margin-top: 60px; >
    
{% block content %} 
     <div class="row">
         <div class="col-md-8">
            {% for type, messages in app.session.flashbag.all() %}
         
                {% for message in messages %}
                   <p class="bg-info">{{message}}</p>
                {% endfor %}
         
            {% endfor %}
            
            
              
{% block section %}
{% endblock %}
    
    
    
         
      </div>
           
          <div class="col-md-2 "   >
        <div class="row">
         <div class="col-md-11 col-md-offset-1 bg-success">
            
            {% block sidebar %} 
            {% endblock %}
           </div>
          </div>
          </div>
          
          <div class="col-md-2 "  >
          <div class="row">
         <div class=" col-md-offset-1 col-md-11  bg-info">
            
            {% block sidebar2 %} 
            {% endblock %}
          </div>
          </div>  
          </div>
          
    </div>  
    
{% endblock %}

</div>

<div id="modal_form"><!-- Сaмo oкнo -->
<span id="modal_close">X</span> <!-- Кнoпкa зaкрыть --> 
<div id="content_form">

</div>

      <!-- Тут любoе сoдержимoе -->
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->

{% endblock %}






