#zone1 img{
    
  height:180px;  
  width:150px;  
     
    
    
}

#zone4 img{
    
  height:100px;  
  width:150px;  
     
    
    
}

#zone2 img{
    
  height:100px;  
  width:100%;  
     
    
    
}

#zone6 img{
    
  height:257px;  
  width:250px;  
     
    
    
}