#block-search{
    margin: 0 auto;
    width: 423px;
    height: 33px;
}

#input-search{
    height: 29px;
    width: 355px;
    border: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
}

#input-search:focus{
    border: 1px solid #75D9FF;
}


#block-search-result{
    border-left: 1px solid #E1DFDD;
    border-right: 1px solid #E1DFDD;
    border-bottom: 1px solid #E1DFDD;
    width: 419px;
    height:  auto;
    background-color: white;
    position: absolute;
    z-index: 9999;
    display: none;
}
#list-search-result > li{ 
    border-bottom: 1px solid #EAEAEA;
    min-height: 70px;
    height: auto;
}
 
.block-title-price{
    width: 325px;
    margin-right: 30px;
    
}
.block-title-price > a{
    font: 15px sans-serif;
    color: #287FC3;
    margin-top: 10px;
    display: block;  
}
.block-title-price > a:hover{
    text-decoration: none;  
}
.block-title-price > p{
    font: 15px sans-serif;
    color: black;
    margin: 10px 0;
    display: block;  
}
#search-noresult{
    color: #E96767;
    font: 13px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;     
}
.search-result-image{
    position: absolute;
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}
#search-more{
    color: #287FC3;
    font: 13px sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;    
}
