#slideshow #slideshowWindow {
	width:500px;
	height:277px;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}
 
#slideshow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:500px; 
	height:277px;
	position:relative;
}
 
#slideshow #slideshowWindow .slide .slideText {
	position:absolute;
	top:130px;
	left:0px;
	width:100%;
	height:130px;
	background-image:url(/slideshow/slideshow/greyBg.png);
	background-repeat:repeat;
	margin:0;
	padding:0;
	color:#ffffff;
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
}
 
#slideshow #slideshowWindow .slide .slideText a:link, #slideshow #slideshowWindow .slide .slideText a:visited {
	color:#ffffff;
	text-decoration:none;
}
 
#slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p {
	margin:10px 0 0 10px;
	padding:0;
}
 
/*Navigation*/
.nav_slideshow {
	display:block;
	text-indent:-10000px;
	position:absolute;
	cursor:pointer;
}
 
#leftNav {
	top:228px;
	left:350px;
	width:94px;
	height:34px;
	background-image:url(/slideshow/slideshow/previous.png);
	background-repeat:no-repeat;
	z-index:999;
}
 
#rightNav {
	top:230px;
	left:450px;
	width:53px;
	height:26px;
	background-image:url(/slideshow/slideshow/next.png);
	background-repeat:no-repeat;
	z-index:999;
}