


#vertical-ticker{  
height:700px;  
width:150px;  
overflow:hidden;  
margin:0; padding:0;  
-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);  
} 




#vertical-ticker li{  
padding:35px 20px;  
display:block;  
background:#efefef;  
color:#333;  
border-bottom:1px solid #ddd;  
text-align:center;  
font-size:15px;  
font-weight:bold;  
font-family: Helvetica Neue, times, serif;  
}  