{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Reclame list</h1>
 <ul>
        <li>
            <a href="{{ path('blog_admin_reclame_new') }}">
               <button type="button" class="btn btn-danger"> Create a new entry</button>
            </a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Imagename</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blog_admin_reclame_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.imageName }}</td>
                <td>{{ entity.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_admin_reclame_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-success">Show</button></a>
                    </li>
                    <br>
                    <li>
                        <a href="{{ path('blog_admin_reclame_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-info">Edit</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
