{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Reclame creation</h1>
<div class="row">
  <div class="col-md-4">
     {% form_theme form 'bootstrap_3_layout.html.twig' %} 
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_admin_reclame_index') }}">
            <button type="button" class="btn btn-primer">Back to the list</button>
        </a>
    </li>
</ul>

</div>
</div>
{% endblock %}
