{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Reclame</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ entity.imageName }}</td>
            </tr>
        </tbody>
    </table>
<img   src="{{ vich_uploader_asset(entity, 'imageFile') }}" />
        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_admin_reclame_index') }}">
           <button type="button" class="btn btn-success"> Back to the list</button>
        </a>
    </li>
    <br>
    <li>
        <a href="{{ path('blog_admin_reclame_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-info">Edit</button>
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
