<article>
    <header>
            <p> 
    
            {{"blog.core.post.comment.on" | trans | capitalize  }}:<time datetime="{{ comment.createdAt | date('c') }}" > {{ comment.createdAt | date }} </time> 
    
               {{"blog.core.post.comment.by" | trans }}: <a href="#">{{ comment.author}}</a>
            
            </p>
    </header>

    <p class="text-success" >
        
        <div class="comment-edit-wrapper">{{ comment.body | nl2br}} 
        
        {% if active_link == comment.activelink and app.user %}
    
           <a  class="comment-edit-link" href="{{path('blog_core_comment_edit',{id: comment.id})}}">Edit</a>
           
         {% endif %}
         
        </div>  
        
   
    </p>
    
</article>
  