<article>
    
    <header>
        
        <h5> <a  href="{{path('blog_core_post_show',{'slug':post.slug})}}">{{ post.title }}</a> </h5> 
        
    </header>
    
    <p> 
    
      <time datetime="{{ post.createdAt | date('c') }}" > {{ post.createdAt | date }} </time> 
      
            <a href="#">{{ post.author.name}}</a>
            <a href="{{path('blog_core_post_show',{'slug':post.slug})}}#comments" > 
            {% set count= post.comments | length %}
            {{"blog.core.post.comments" | trans_plural(count)}}
            </a> 
    </p>


    <p>
        
      <h6> {{ post.body }}   </h6> 
        
    </p>
    
</article>
  
        

