{% extends "CoreBundle::layout.html.twig" %}



{% block section %} 
<h1> About Blog </h1>
<h5>
Why a separate career blog? We believe that people who are interested in Boehringer
Ingelheim as an employer are not just interested in information and facts about the
company but also want a somewhat more personal view. They want to know what it looks
like inside the company, what it feels like to work here and what employees say about 
their life in the company. These are exactly the topics we want to include in our blog
as they show that Boehringer Ingelheim is a family business with staff who enjoy working
for the company.
</h5>

<h2><b>Contact:</b></h2>
<h5></h5>
<p>4988 Great America Parkway</p>
<p>Santa Clara, CA 95054</p>
<p>United States</p>
<p>Map & Directions</p>
<p>Toll Free: 800 424 8749</p>
<p>Phone: 408 790 8000</p>
</h5>

{% endblock %}