{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
               Welcome to the Symfony Blog
{% endblock %}




      
              
{% block section %} 
<div class="row">
         
{% for category in categories %}
<div class="col-md-3">
<h1 class=" bg-info"><a style="color:red" href="{{path('blog_core_post_category',{'name':category.name})}}">{{category.name}}</a></h1> 
{% for post in category.posts %}
<div class ="fototitle">
            <img   src="{{ vich_uploader_asset(post, 'imageFile') }}" />
            </div>
{{ include ('CoreBundle:Post:_post.html.twig', {post: post}) }}

{% endfor %}
</div>


{% endfor %}
</div>
                
                
<div class="row">
         <div class="col-md-8 "> 
    <slideshow>
     
     {{ include('CoreBundle:Post:slideshow.html.twig', {posts: post_latest}) }}
        

    </slideshow> 
    
    
    
        
     </div>
     
     <div class="col-md-3 " id="zone6"> 
    
     
     <a href="{{reclames[5].link}}"><img   src="{{ vich_uploader_asset(reclames[5], 'imageFile') }}" /></a>
     
      
  
     </div>
     
     
     
     </div>   
 <div class="row">
<div class="col-md-12" id="zone2">
    
 
<a href="{{reclames[2].link}}"> <img   src="{{ vich_uploader_asset(reclames[2], 'imageFile') }}" /></a>
 
 
</div>
</div>                           
                
{% endblock %}

          
      
{% block sidebar %} 
  
  <h3>Latest Post</h3>
     
     {% for post in post_latest %}
           <div class ="fototitlesidebar">
            <img   src="{{ vich_uploader_asset(post, 'imageFile') }}" />
            </div>
          <p><a href="{{post.slug}}">{{post.title}}</a></p>
     
     {% endfor %} 
     
  <h3>Latest Comment</h3>
     
     {% for comment in comment_latest %}
     
    <a href="{{comment.post.slug}}"> {{ include ('CoreBundle:Post:_comment.html.twig', {comment: comment , active_link: true}) }}</a>
          
     
     {% endfor %}  
     
     
 {% endblock %}
      
     
{% block sidebar2 %}

<h3>Top 5 Posts </h3>




<ul id="vertical-ticker"> 

{% for post in posts_top %}

<li>
    <div class ="fototicker">
            <img   src="{{ vich_uploader_asset(post, 'imageFile') }}" />
            </div>
    
    <a href="{{post.slug}}">{{post.title}}</a> </li>

{% endfor %} 

</ul>  
 
<a href="#" id="ticker-previous">Previuos</a> / <a href="#" id="ticker-next">Next</a> 


<div class="row">
<div class="col-md-12" id="zone1">
    
 
  <a href="{{reclames[0].link}}"><img   src="{{ vich_uploader_asset(reclames[0], 'imageFile') }}" /></a>
  <a href="{{reclames[0].link}}">{{reclames[0].title}} </a>
 
</div>
</div>

<div class="row">
<div class="col-md-12" id="zone1">
    
 
 <a href="{{reclames[1].link}}"><img   src="{{ vich_uploader_asset(reclames[1], 'imageFile') }}" /></a>
  <a href="{{reclames[1].link}}">{{reclames[1].title}} </a>
 
</div>
</div>

<div class="row">
<div class="col-md-12" id="zone4">
    
 
 <a href="{{reclames[3].link}}"><img   src="{{ vich_uploader_asset(reclames[3], 'imageFile') }}" /></a>
  <a href="{{reclames[3].link}}">{{reclames[3].title}} </a>
 
</div>
</div>


<div class="row">
<div class="col-md-12" id="zone1">
    
 
<a href="{{reclames[4].link}}"> <img   src="{{ vich_uploader_asset(reclames[4], 'imageFile') }}" /></a>
  <a href="{{reclames[4].link}}">{{reclames[4].title}} </a>
 
</div>
</div>

{% endblock %}



