 <h5><b><p>Данный сайт сделан в учебных целях </p>
<p> И является отчетной дипломной работой PHPacademy</p>
 
 <p>Сайт собран на фреймворке Symfony 2.6.11</p><b></h5>
 <h6>
 <p>Были использованы следующие бандлы:</p><h6>
 
 <p><h5><b>FOSUserBundle()</b></h5> <h6>был использован для управления пользователями</h6></p> 
                
              <h6> <p> -регистрация</p>
              <p>-авторизация</p>
              <p> -ограничение доступа,</p></h6>
<p><h5><b>PaginatorBundle()</b></h5><h6> был использован для пагинации и сортировки,</h6></p>

<p><h5><b>VichUploaderBundle()</b></h5><h6> был использовани для загрузки и вывода изображений,</h6></p>

<p><h5><b>KnpGaufretteBundle()</b></h5><h6> был использован как хранилище для VichUploaderBundle(),</h6></p>

<p><h5><b>KnpMenuBundle()</b></h5> <h6>был использован для создания меню сайта,</h6></p>

<p><h5><b>DoctrineFixturesBundle()</b></h5><h6> был использован для загрузки тестовых данных (с помощью факера);</h6></p>
    
<p><h6>Комментарии могут создавать только зарегистрированные пользователи </h6></p>
<p><h6>Комментарий можно редактировать в течении часа</h6></p>
<p><h6> Oрганизован поиск по словам в виде выпадающего списка </h6></p>
<p><h6>В админ панели можно добавлять посты , авторов , отключать комменты</h6></p>
<p><h6>В админ панели можно сортировать по столбцам</h6></p>
<p><h6>В информационном окне использован json</h6></p>
    

