{% extends "CoreBundle::layout.html.twig" %}



{% block section %} 
<h1> Result search: </h1>

{% for post in posts %}

{{ include ('CoreBundle:Post:_post.html.twig', {post: post}) }}

{% endfor %}


<div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>

{% endblock section %}