{% extends "CoreBundle::layout.html.twig" %}



               
{% block section %} 
                     
    <article>
           <header>
              <h2><a  href="#">{{post.title}}</a></h2> 
           </header>
    
            <p> <div class ="foto">
            <img   src="{{ vich_uploader_asset(post, 'imageFile') }}" />
            </div>
              <time datetime="{{ post.createdAt | date('c') }}" > {{ post.createdAt | date }} </time>
              {{'blog.core.author' | trans }}: {{ post.author.name }}
            </p>

            <p>
               {{ post.body }}   
            </p>
     </article>
  
  
    <a id="comments"></a>
    
     <hr>
     
    <h2>{{"blog.core.post.comment.title" | trans }}:</h2>



{% for comment in post.comments %}

{% if false == comment.activecomment %}
      {{ include ('CoreBundle:Post:_comment.html.twig', {comment: comment , active_link: true}) }}
{% endif %}
{% endfor %}
    
   
<br>

{% block form %}
    
    <div class="col-md-6 bg-success ">     

      <h3>{{"blog.core.post.comment.write" | trans}}:</h3>
  
      {% form_theme form 'bootstrap_3_layout.html.twig' %}
      
      {{ form(form, {action: path('blog_core_post_createcomment', {'slug': post.slug}) ~ '#comments'})}}
      
    </div>  

{% endblock %} 



  
{% endblock %}

           
{% block sidebar %} 
                   
    <h3>{{'blog.core.author' | trans }}</h3>
            <a  href="{{path('blog_core_author_show', {'slug': post.author.slug})}}" >
            {{ post.author.name }}</a>
                       
{% endblock %}
             


