

 
<body_slideshow> 
 
<div id="slideshow"> 
     <div id="slideshowWindow"> 
    	<div class="slide"> 
        	     <img src="/slideshow/slideshow/slide1.jpg" /> 
                 <div class="slideText"> 
                     <h2 class="slideTitle">News</h2> 
                     <p class="slideDes">{{posts[0].title}}</p> 
                     <p class="slideLink"><a href="{{posts[0].slug}}">click here</a></p> 
                 </div><!--/slideText--> 
            </div><!--/slide--> 
        <div class="slide"> 
        	 <img src="/slideshow/slideshow/slide2.jpg" /> 
	<div class="slideText"> 
                     <h2 class="slideTitle">Sport</h2> 
                     <p class="slideDes">{{posts[1].title}}</p> 
                     <p class="slideLink"><a href="{{posts[1].slug}}">click here</a></p> 
                 </div><!--/slideText--> 
        </div><!--/slide--> 
        <div class="slide"> 
        	 <img src="/slideshow/slideshow/slide3.jpg" /> 
	<div class="slideText"> 
                     <h2 class="slideTitle">World</h2> 
                     <p class="slideDes">{{posts[2].title}}</p> 
                     <p class="slideLink"><a href="{{posts[2].slug}}">click here</a></p> 
                 </div><!--/slideText--> 
        </div><!--/slide--> 
     </div><!--/slideshowWindow--> 
</div><!--/slideshow--> 
 
 
</body_slideshow> 

 