{% extends "CoreBundle::layout.html.twig" %}




{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<div class="row">
  <div class="col-md-6">

<form action="{{ path("fos_user_security_check") }}"  method="post">
    
          <input type="hidden"  class="form-control" name="_csrf_token" value="{{ csrf_token }}" />
    
     <div class="form-group">
          <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
          <input type="text" class="form-control"  id="username" name="_username" value="{{ last_username }}" required="required" /> 
    </div>
    
    <div class="form-group">
          <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
          <input type="password" class="form-control"  id="password" name="_password" required="required" /> 
    </div> 

     <div class="form-group">
       <div class="checkbox">
          <div class="col-md-4"> 
          
          <label>
          <input type="checkbox"   id="remember_me" name="_remember_me" value="on" /> 
          <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
          </label>
          
          </div>
       </div>
     </div>
     <br><br>
     <div class="col-md-4"> 
       <div class="form-group"> 
       <input type="submit"   class="form-control" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    </div>
    
    
</form>
</div>
</div>

{% endblock fos_user_content %}
