{% extends "::base.html.twig" %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href={{ asset('bundles/core/css/bootstrap.css') }} >
<link rel="stylesheet" type="text/css" href={{ asset('bundles/core/css/bootstrap-theme.css') }} >

{% block fos_user_content_head %}
{% endblock fos_user_content_head %}

{% endblock %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}


<nav class="navbar navbar-inverse">
    
<a href="#"><h1>Admin  Blog</h1></a>
<a href="{{path('blog_core_post_index')}}" ><button type="button" class="btn btn-primary">Home</button></a>

<a href="{{ path('blog_admin_post_index') }}" ><button type="button" class="btn btn-primary">Post list</button></a>
<a href="{{ path('blog_admin_author_index') }}" ><button type="button" class="btn btn-primary">Author list</button></a>
<a href="{{ path('blog_admin_comment_index') }}" ><button type="button" class="btn btn-primary">Comment list</button></a>
<a href="{{ path('blog_admin_reclame_index') }}" ><button type="button" class="btn btn-primary">Reclame list</button></a>
{% if app.user %}
<a href="{{ path('fos_user_security_logout') }}" ><button type="button" class="btn btn-primary">logout</button></a>
{% endif %}
</nav>

<div class="container">
    
{% block content %} 

   <div class="row">
       
          <div class="col-md-8">
              
            {% block section %}
            {% endblock %}
         
          </div>
          
          <div class="col-md-4 bg-success ">
              
            {% block sidebar %} 
            {% endblock %}
            
          </div>
          
    </div>  
    
{% endblock %}

</div>






{% endblock %}






{% block javascripts %}

<script src="{{ asset('bundles/core/js/bootstrap.js') }}"></script>

{% endblock %}