{% extends "CoreBundle::layout.html.twig" %}

{% block title %}{{ "blog.admin.security.title" | trans }}{% endblock %}

{% block section %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
  <div class="col-md-6">
      
 <h2 class="bg-info" >{{ "blog.admin.security.name" | trans }}</h2>
 <hr>     
      
  
 <form action="{{ path('blog_admin_security_logincheck') }}" method="post">
    <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" /> <br>

    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="_password" /> <br>

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-primary btn-lg btn-block">login</button>
    </div>
</form>

 </div>
  
</div>

{% endblock %}
