<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        
    </head>
    <body>
        {% block body %}{% endblock %}
        
        
       

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        
      {% block javascripts %}{% endblock %}  
        
    </body>
    
    
</html>
