{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <h1>Posts list</h1>


    <ul>
        <li>
            <a href="{{ path('blog_admin_post_new') }}"><button type="button" class="btn btn-success">Create a new post</button></a>
        </li>
    </ul>
    
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'p.slug') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Body', 'p.body') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('blog_admin_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.body }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_admin_post_show', { 'id': post.id }) }}"><button type="button" class="btn btn-primary">Show</button></a>
                        </li>
                        <br>
                        <li>
                            <a href="{{ path('blog_admin_post_edit', { 'id': post.id }) }}"><button type="button" class="btn btn-warning">Edit</button></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
    {{ knp_pagination_render(posts) }}
</div>
{% endblock %}
