{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <h1>Post creation</h1>
   <div class="row">
  <div class="col-md-6"> 
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
<br>
    <ul>
        <li>
            <a href="{{ path('blog_admin_post_index') }}"><button type="button" class="btn btn-success">Back to the list</button></a>
        </li>
    </ul>
    
    </div>
    </div>
{% endblock %}
