{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
    <h1>Post</h1>

    <table  class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
        </tbody>
    </table>
<img   src="{{ vich_uploader_asset(post, 'imageFile') }}" />
<br><br>
    <ul>
        <li>
            <a href="{{ path('blog_admin_post_index') }}"><button type="button" class="btn btn-success">Back to the list</button></a>
        </li>
        <br>
        <li>
            <a href="{{ path('blog_admin_post_edit', { 'id': post.id }) }}"><button type="button" class="btn btn-info">Edit</button></a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
