{% extends "AdminBundle::layout.html.twig"%}

{% block content %}
    <h1>Author creation</h1>
    <div class="row">
    <div class="col-md-4"> 
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
<br>
    <ul>
        <li>
            <a href="{{ path('blog_admin_author_index') }}"><button type="button" class="btn btn-warning">Back to the list</button></a>
        </li>
    </ul>
    </div>
    </div>
{% endblock %}
