{% extends "CoreBundle::layout.html.twig" %}



{% block content %}

  <div class="row">
  <div class="col-md-8">
       
{% block section %} 

<article>
    
    <header>
        
         <h1> {{'blog.core.author_posts' | trans}}: {{ author.name }} </h1> 
        
    </header>
    
                            
   {% for post in posts %}

        {{ include ('CoreBundle:Post:_post.html.twig', {post: post}) }}

   {% endfor %}
   
   
   <div class="navigation">
    {{ knp_pagination_render(posts) }}
   </div>
   
</article>

{% endblock %}

  </div>
  
<div class="col-md-4 bg-success ">
      
    {% block sidebar %} 
                   
        <h3>{{'blog.core.author' | trans }} </h3>
                   
    <a  href="#">{{ author.name }}      </a>
                   
  
    {% endblock %}
    
</div>


</div>


{% endblock %}