

{% block content -%}

<p class="bg-info">
    
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form, { 'attr': {'class': 'form-horizontal'} } ) }}
    
 </p>      

{% endblock %}
