{% extends "CoreBundle::layout.html.twig" %}

{% block content -%}
    <h1>Comment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blog_core_comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.body }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_core_comment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blog_admin_comment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blog_core_comment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
