{% extends "CoreBundle::layout.html.twig" %}

{% block content -%}
    <h1>Comment creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_core_comment_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
