{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Comment edit</h1>
  <div class="row">
  <div class="col-md-4">  
    
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_admin_comment_index') }}">
           <button type="button" class="btn btn-success"> Back to the list </button>
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
</div>
{% endblock %}
