{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Comment list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Author', 'c.author') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Body', 'c.body') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Active', 'c.active_comment') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blog_admin_comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.body }}</td>
                <td> {% if false == entity.activecomment %}
                          {{'yes'}}
                      
                       {% endif %}
                     {% if true == entity.activecomment %}
                          {{'no'}}
                      
                       {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_admin_comment_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-warning">Show</button></a>
                    </li>
                    <br>
                    <li>
                        <a href="{{ path('blog_admin_comment_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-info">Edit</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blog_admin_comment_new') }}">
               <button type="button" class="btn btn-danger"> Create a new entry</button>
            </a>
        </li>
    </ul>
    
    
     <div class="navigation">
    {{ knp_pagination_render(entities) }}
</div>
    {% endblock %}
