{% extends "AdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Comment</h1>
    
    <div class="row">
  <div class="col-md-6">

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog_admin_comment_index') }}">
           <button type="button" class="btn btn-info"> Back to the list</button>
        </a>
    </li>
    <br>
    <li>
        <a href="{{ path('blog_admin_comment_edit', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-warning">Edit</button>
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>

</div>
</div>
{% endblock %}
