
<div class="row">
  <div class="col-md-4">
  
{% form_theme form 'CoreBundle::bootstrap_3_layout.html.twig' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
   
    
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    
</form>

</div>
</div>